[Unit]
Description=Start miniweb
Requires=minimega.service
After=minimega.service
PartOf=phenix-web.service

[Service]
Type=simple
WorkingDirectory=/opt/minimega
Environment="MINIMEGA_BASE=/tmp/minimega"
Environment="MINIMEGA_CONSOLE=/opt/minimega/bin/minimega"
ExecStart=/opt/minimega/bin/miniweb \
 -console=${MINIMEGA_CONSOLE} \
 -base=${MINIMEGA_BASE}





